In [2]:
import numpy as np
z=np.arange(10,20)
print(z)

[10 11 12 13 14 15 16 17 18 19]

In [4]:
import numpy as np
z=np.linspace(1,2,num=5)
print(z)

[1.   1.25 1.5  1.75 2.  ]

In [6]:
import numpy as np
z=np.linspace(1,2,num=5,endpoint=False)
print(z)

[1.  1.2 1.4 1.6 1.8]

In [8]:
import numpy as np
a=np.array([np.arange(1,5),np.arange(11,15)])
print(a)
print("Print",a[0:,1:3])

[[ 1  2  3  4]
 [11 12 13 14]]
Print [[ 2  3]
 [12 13]]

In [10]:
import numpy as np
z=np.array([np.arange(11,15),np.arange(16,20),np.arange(21,25)])
print(z)

[[11 12 13 14]
 [16 17 18 19]
 [21 22 23 24]]

In [108]:
# import numpy as np
# z=np.arange(0,36)
# c=np.reshape(z,(3,4,3))
# print(c)
# print(c[0::2,1::2,1])

In [1]:
# Query-1:
import numpy as np
z=np.array([[15,27,10,32,8,32,15,25,12,29,9,29,10,26],[12,31,14,29,6,20,-13,22,15,29,6,27,13,29],[6,24,11,22,10,22,10,31,10,30,10,28,6,20],[8,22,7,22,15,22,13,30,14,29,15,28,13,32],[10,32,10,24,12,22,9,20,15,21,12,28,8,20],[14,29,6,23,13,26,14,22,6,21,6,31,15,31],[11,22,15,32,10,32,15,25,12,23,13,29,11,29],[6,28,9,21,9,23,14,29,15,20,9,28,14,30],[2,19,5,19,2,18,5,20,6,18,6,3,20,6],[4,21,3,21,5,19,5,22,4,21,7,8,21,8],[2,20,4,18,5,19,4,18,6,22,3,7,22,3],[8,18,2,21,5,19,5,19,4,20,6,6,19,2],[7,21,8,19,-10,18,11,20,9,21,9,71,20,12],[11,18,8,21,11,19,8,20,7,19,12,8,18,10],[8,19,12,18,9,21,12,19,9,20,7,10,21,11],[12,21,9,22,11,18,10,18,8,20,11,7,22,11]])
# print(z)
c=np.reshape(z,(4,4,14))
print(c)
# c.ndim
# c.shape
# c.dtype

[[[ 15  27  10  32   8  32  15  25  12  29   9  29  10  26]
  [ 12  31  14  29   6  20 -13  22  15  29   6  27  13  29]
  [  6  24  11  22  10  22  10  31  10  30  10  28   6  20]
  [  8  22   7  22  15  22  13  30  14  29  15  28  13  32]]

 [[ 10  32  10  24  12  22   9  20  15  21  12  28   8  20]
  [ 14  29   6  23  13  26  14  22   6  21   6  31  15  31]
  [ 11  22  15  32  10  32  15  25  12  23  13  29  11  29]
  [  6  28   9  21   9  23  14  29  15  20   9  28  14  30]]

 [[  2  19   5  19   2  18   5  20   6  18   6   3  20   6]
  [  4  21   3  21   5  19   5  22   4  21   7   8  21   8]
  [  2  20   4  18   5  19   4  18   6  22   3   7  22   3]
  [  8  18   2  21   5  19   5  19   4  20   6   6  19   2]]

 [[  7  21   8  19 -10  18  11  20   9  21   9  71  20  12]
  [ 11  18   8  21  11  19   8  20   7  19  12   8  18  10]
  [  8  19  12  18   9  21  12  19   9  20   7  10  21  11]
  [ 12  21   9  22  11  18  10  18   8  20  11   7  22  11]]]

In [2]:
# Query-3:
print(c[0:,0,0:15])
# Query-4:
print(c[0:4,0:4,2:4])

[[ 15  27  10  32   8  32  15  25  12  29   9  29  10  26]
 [ 10  32  10  24  12  22   9  20  15  21  12  28   8  20]
 [  2  19   5  19   2  18   5  20   6  18   6   3  20   6]
 [  7  21   8  19 -10  18  11  20   9  21   9  71  20  12]]
[[[10 32]
  [14 29]
  [11 22]
  [ 7 22]]

 [[10 24]
  [ 6 23]
  [15 32]
  [ 9 21]]

 [[ 5 19]
  [ 3 21]
  [ 4 18]
  [ 2 21]]

 [[ 8 19]
  [ 8 21]
  [12 18]
  [ 9 22]]]

In [4]:
# Query-6:
print("For November the Min temperature less than 8 degrees:")
print("Week2: Wednesday= 6 degrees, Thursday= -13 degrees, Saturday= 6 degrees")
print("Week3: Monday= 6 degrees, Sunday= 6 degrees")
print("Week4: Tuesday= 7 degrees")
print("\n")
# Query-7:
print("In December the Max temperature has crossed the threshold of 20 degrees for the following days:\n")

print("Week1: Mon= 27 degrees,Tue= 26 degrees,Wed= 26 degrees,Thu= 28 degrees,Fri= 29 degrees\n\tSat= 25 deg,Sun= 31 deg")
print("Week2: Mon= 23 degrees,Tue= 21 degrees,Wed= 21 degrees,Thu= 28 degrees,Fri= 23 degrees\n\tSat= 28 deg,Sun= 30 deg")
print("Week3: Tue= 25 degrees,Wed= 24 degrees,Thu= 31 deg,Fri= 22 deg,Sat= 28 deg,Sun= 27 deg")
print("Week4: Mon= 28 degrees,Wed= 26 degrees,Thu= 25 deg,Fri= 21 deg,Sat= 27 deg,Sun= 22 deg\n")

print("In January the Max temperature has crossed the threshold of 20 degrees for the following days:\n")

print("Week1: Wednesday= 21 degrees,Friday= 22 degrees")
print("Week2: Monday= 21 degrees,Thursday= 22 degrees,Friday= 22 degrees")
print("Week3: Monday= 21 degrees,Wednesday= 22 degrees")
print("Week4: Monday= 22 degrees,Friday= 21 degrees")

For November the Min temperature less than 8 degrees:
Week2: Wednesday= 6 degrees, Thursday= -13 degrees, Saturday= 6 degrees
Week3: Monday= 6 degrees, Sunday= 6 degrees
Week4: Tuesday= 7 degrees


In December the Max temperature has crossed the threshold of 20 degrees for the following days:

Week1: Mon= 27 degrees,Tue= 26 degrees,Wed= 26 degrees,Thu= 28 degrees,Fri= 29 degrees
	Sat= 25 deg,Sun= 31 deg
Week2: Mon= 23 degrees,Tue= 21 degrees,Wed= 21 degrees,Thu= 28 degrees,Fri= 23 degrees
	Sat= 28 deg,Sun= 30 deg
Week3: Tue= 25 degrees,Wed= 24 degrees,Thu= 31 deg,Fri= 22 deg,Sat= 28 deg,Sun= 27 deg
Week4: Mon= 28 degrees,Wed= 26 degrees,Thu= 25 deg,Fri= 21 deg,Sat= 27 deg,Sun= 22 deg

In January the Max temperature has crossed the threshold of 20 degrees for the following days:

Week1: Wednesday= 21 degrees,Friday= 22 degrees
Week2: Monday= 21 degrees,Thursday= 22 degrees,Friday= 22 degrees
Week3: Monday= 21 degrees,Wednesday= 22 degrees
Week4: Monday= 22 degrees,Friday= 21 degrees

In [5]:
# Query-12:
print("Average maximum temp for the Winter months in Jaipur:\n")
n_num=[22,23,32,25,22,29,23,22,25,26,25,31,26,32,25,21,21,28,29,22,26,20,29,21,29,26,21,28,27,23,20,28,26,21,25,20,26,21,24,26,28,28,31,25,29,23,22,21,25,28,28,27,31,30,27,22]
n=len(n_num)
get_num=sum(n_num)
mean=get_num/n
print("Average= " + str(mean))

Average maximum temp for the Winter months in Jaipur:

Average= 25.375

In [6]:
# Query-13:
print("Weekly minimum Average temp for the month of December in Jaipur:\n")

n_num=[8,15,14,15,10,8,10]
n=len(n_num)
get_num=sum(n_num)
mean=get_num/n
print("For Week 1: "+str(mean))

a_num=[13,12,10,14,8,6,7]
a=len(a_num)
get_num=sum(a_num)
mean=get_num/a
print("For Week 2: "+str(mean))

b_num=[15,8,7,6,7,10,8]
b=len(b_num)
get_num=sum(b_num)
mean=get_num/b
print("For Week 3: "+str(mean))

c_num=[7,15,7,13,6,9,7]
c=len(c_num)
get_num=sum(c_num)
mean=get_num/c
print("For Week 4: "+str(mean))

Weekly minimum Average temp for the month of December in Jaipur:

For Week 1: 11.428571428571429
For Week 2: 10.0
For Week 3: 8.714285714285714
For Week 4: 9.142857142857142

In [7]:
# Query-14:
print("Overall Average temp for the months of December and January:\n")
n_num=[8,13,15,7,27,25,25,30,15,12,8,15,27,21,25,32,14,10,7,7,28,20,21,26,15,14,6,13,23,30,22,31,10,8,7,6,27,22,32,21,8,6,10,9,22,28,30,31,10,7,8,7,26,20,30,27]
n=len(n_num)
get_num=sum(n_num)
mean=get_num/n
print("December: "+str(mean))

a_num=[4,2,4,5,19,19,21,20,5,2,2,5,18,22,21,21,7,2,3,7,20,19,18,22,3,6,2,8,19,18,22,21,4,3,5,3,18,22,21,19,5,2,8,2,7,4,8,4,22,20,18,19,5,8,4,2]
a=len(a_num)
get_num=sum(a_num)
mean=get_num/a
print("January: "+str(mean))

# Query-15:
print("In December:")
print("Week2,Saturday= 6 degrees  Week3,Thursday= 6 degrees  Week4,Friday= 6 degrees\n")
print("In January:")
print("Week2: Monday= 2 degrees, Tuesday= 2 deg, Wednesday= 2 deg, Saturday= 2 deg")
print("Week3: Tuesday= 2 degrees, Thursday= 2 degrees  Week4,Saturday= 2 degrees")

Overall Average temp for the months of December and January:

December: 17.928571428571427
January: 11.071428571428571
In December:
Week2,Saturday= 6 degrees  Week3,Thursday= 6 degrees  Week4,Friday= 6 degrees

In January:
Week2: Monday= 2 degrees, Tuesday= 2 deg, Wednesday= 2 deg, Saturday= 2 deg
Week3: Tuesday= 2 degrees, Thursday= 2 degrees  Week4,Saturday= 2 degrees

In [8]:
# Query-16:
print("The maximum temp in the month of February is 71 degrees on Saturday, Week 1 of February.")

# Query-17:
n_num=[14,7,10,8,22,26,21,29,6,10,7,14,29,27,29,23,9,14,10,10,30,26,26,27,11,-13,9,11,28,27,22,32,12,9,12,13,23,31,21,21,10,7,7,7,27,29,24,27,8,14,15,15,27,23,28,29]
n=len(n_num)
get_num=sum(n_num)
mean=get_num/n
print("Average temp for the month of November: "+str(mean))

The maximum temp in the month of February is 71 degrees on Saturday, Week 1 of February.
Average temp for the month of November: 17.857142857142858

In [15]:
# Query-19:
print("Converting celsius to fahrenheit-------------------------------------------------------------------------\n")
# deg(fah)=(deg(cel)*9/5)+32

a=np.array([8,25,11,21,12,22,12,21,13,23,11,26,15,27])
b=np.array([8,31,8,26,15,28,-13,27,12,31,14,32,7,26])
c=np.array([13,29,11,30,7,26,14,27,14,31,12,26,8,32])
d=np.array([14,25,11,28,9,32,8,27,11,24,7,30,14,23])

print("For November:\n")

a=(a*9/5)+32
print("Week 1: ",a)
b=(b*9/5)+32
print("Week 2: ",b)
c=(c*9/5)+32
print("Week 3: ",c)
d=(d*9/5)+32
print("Week 4: ",d)
print("\n")

print("For December:\n")

e=np.array([14,32,9,21,10,23,15,23,9,24,10,20,14,23])
f=np.array([7,28,15,29,11,20,12,20,7,24,12,21,8,30])
g=np.array([6,20,10,26,11,20,12,31,13,28,13,29,13,22])
h=np.array([8,27,9,21,11,30,7,20,13,25,10,20,11,28])

e=(e*9/5)+32
print("Week 1: ",e)
f=(f*9/5)+32
print("Week 2: ",f)
g=(g*9/5)+32
print("Week 3: ",g)
h=(h*9/5)+32
print("Week 4: ",h)
print("\n")

print("For January:\n")

p=np.array([2,19,8,18,3,19,8,22,3,20,4,5,20,4])
q=np.array([6,19,3,18,3,20,7,22,3,20,4,3,22,3])
r=np.array([7,18,3,19,2,21,6,20,3,18,8,4,18,7])
s=np.array([3,22,3,20,4,18,6,21,4,19,5,6,22,7])

p=(p*9/5)+32
print("Week 1: ",p)
q=(q*9/5)+32
print("Week 2: ",q)
r=(r*9/5)+32
print("Week 3: ",r)
s=(s*9/5)+32
print("Week 4: ",s)

print("\n")
print("For February:\n")
u=np.array([11,18,12,19,-10,20,9,19,8,22,8,71,20,10])
v=np.array([10,21,8,20,8,19,7,19,10,21,7,12,18,7])
w=np.array([10,21,8,18,7,21,11,21,10,20,8,10,20,10])
x=np.array([9,18,10,21,11,19,10,19,10,22,7,11,22,8])

u=(u*9/5)+32
print("Week 1: ",u)
v=(v*9/5)+32
print("Week 2: ",v)
w=(w*9/5)+32
print("Week 3: ",w)
x=(x*9/5)+32
print("Week 4: ",x)

Converting celsius to fahrenheit-------------------------------------------------------------------------

For November:

Week 1:  [46.4 77.  51.8 69.8 53.6 71.6 53.6 69.8 55.4 73.4 51.8 78.8 59.  80.6]
Week 2:  [46.4 87.8 46.4 78.8 59.  82.4  8.6 80.6 53.6 87.8 57.2 89.6 44.6 78.8]
Week 3:  [55.4 84.2 51.8 86.  44.6 78.8 57.2 80.6 57.2 87.8 53.6 78.8 46.4 89.6]
Week 4:  [57.2 77.  51.8 82.4 48.2 89.6 46.4 80.6 51.8 75.2 44.6 86.  57.2 73.4]


For December:

Week 1:  [57.2 89.6 48.2 69.8 50.  73.4 59.  73.4 48.2 75.2 50.  68.  57.2 73.4]
Week 2:  [44.6 82.4 59.  84.2 51.8 68.  53.6 68.  44.6 75.2 53.6 69.8 46.4 86. ]
Week 3:  [42.8 68.  50.  78.8 51.8 68.  53.6 87.8 55.4 82.4 55.4 84.2 55.4 71.6]
Week 4:  [46.4 80.6 48.2 69.8 51.8 86.  44.6 68.  55.4 77.  50.  68.  51.8 82.4]


For January:

Week 1:  [35.6 66.2 46.4 64.4 37.4 66.2 46.4 71.6 37.4 68.  39.2 41.  68.  39.2]
Week 2:  [42.8 66.2 37.4 64.4 37.4 68.  44.6 71.6 37.4 68.  39.2 37.4 71.6 37.4]
Week 3:  [44.6 64.4 37.4 66.2 35.6 69.8 42.8 68.  37.4 64.4 46.4 39.2 64.4 44.6]
Week 4:  [37.4 71.6 37.4 68.  39.2 64.4 42.8 69.8 39.2 66.2 41.  42.8 71.6 44.6]


For February:

Week 1:  [ 51.8  64.4  53.6  66.2  14.   68.   48.2  66.2  46.4  71.6  46.4 159.8
  68.   50. ]
Week 2:  [50.  69.8 46.4 68.  46.4 66.2 44.6 66.2 50.  69.8 44.6 53.6 64.4 44.6]
Week 3:  [50.  69.8 46.4 64.4 44.6 69.8 51.8 69.8 50.  68.  46.4 50.  68.  50. ]
Week 4:  [48.2 64.4 50.  69.8 51.8 66.2 50.  66.2 50.  71.6 44.6 51.8 71.6 46.4]

In [16]:
# Query-23:
print("Printing the Difference between Maximum temp of two consecutive days:\n")
print("In December:")
print("Week 1: 11 deg, 0 deg, 4 deg, -3 deg")
print("Week 2: -1 deg, 0 deg, 3 deg, -9 deg")
print("Week 3: -6 deg, -11 deg, -1 deg, 7 deg")
print("Week 4: 6 deg, 10 deg, 5 deg, -8 deg")
print("\n")
print("In January:")
print("Week 1: 1 deg, -3 deg, 15 deg, 1 deg")
print("Week 2: 1 deg, -2 deg, 17 deg, 0 deg")
print("Week 3: -1 deg, 1 deg, 14 deg, -3 deg")
print("Week 4: 2 deg, -3 deg, 13 deg, -1 deg")

Printing the Difference between Maximum temp of two consecutive days:

In December:
Week 1: 11 deg, 0 deg, 4 deg, -3 deg
Week 2: -1 deg, 0 deg, 3 deg, -9 deg
Week 3: -6 deg, -11 deg, -1 deg, 7 deg
Week 4: 6 deg, 10 deg, 5 deg, -8 deg


In January:
Week 1: 1 deg, -3 deg, 15 deg, 1 deg
Week 2: 1 deg, -2 deg, 17 deg, 0 deg
Week 3: -1 deg, 1 deg, 14 deg, -3 deg
Week 4: 2 deg, -3 deg, 13 deg, -1 deg

In [17]:
# Query-24:
print("Printing the Difference between Minimum temp of two consecutive days:\n")
print("In December:")
print("Week 1: 5 deg, -5 deg, -4 deg, -1 deg")
print("Week 2: -8 deg, -1 deg, -5 deg, 4 deg")
print("Week 3: -4 deg, -1 deg, 0 deg, 0 deg")
print("Week 4: -1 deg, 4 deg, 3 deg, -1 deg")
print("\n")
print("In January:")
print("Week 1: -6 deg, -5 deg, -1 deg, -16 deg")
print("Week 2: 3 deg, -4 deg, -1 deg, -18 deg")
print("Week 3: 4 deg, -4 deg, -5 deg, -10 deg")
print("Week 4: 0 deg, -2 deg, -1 deg, -17 deg")

Printing the Difference between Minimum temp of two consecutive days:

In December:
Week 1: 5 deg, -5 deg, -4 deg, -1 deg
Week 2: -8 deg, -1 deg, -5 deg, 4 deg
Week 3: -4 deg, -1 deg, 0 deg, 0 deg
Week 4: -1 deg, 4 deg, 3 deg, -1 deg


In January:
Week 1: -6 deg, -5 deg, -1 deg, -16 deg
Week 2: 3 deg, -4 deg, -1 deg, -18 deg
Week 3: 4 deg, -4 deg, -5 deg, -10 deg
Week 4: 0 deg, -2 deg, -1 deg, -17 deg